<script type="text/javascript" src="class/main.js"></script>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">班级管理</div>
			<div class="col-md-6 text-right">
				<a href="#" id="classAddLink" class="btn btn-default">增加</a>
				<a href="#" id="classModifyLink" class="btn btn-default">修改</a>
				<a href="#" id="classRemoveLink" class="btn btn-default">删除</a>
				<a href="#" id="classViewLink" class="btn btn-default">查看</a>
				<a href="#" id="classDownloadLink" class="btn btn-default">下载模板文件</a>
				<a href="#" id="classImportLink" class="btn btn-default">导入文件</a>
		        <a href="#" id="classExportLink" class="btn btn-default">导出文件</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="classGrid"></table>
			<div id="classGridPager"></div>
		</div>
	</div>
</div>
<div class="modal fade" id="classModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="ModalLabel"></h4>
			</div>
			<div class="modal-body" id="modelbody"></div>
		</div>
	</div>
</div>
